@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "GilroyRegular";
  src: local("Gilroy-Regular"), url("./assets/Fonts/Gilroy-Regular.ttf");
}
@font-face {
  font-family: "Hackney";
  src: local("HackneyPersonalUseOnly"),
    url("./assets/Fonts/HackneyPersonalUseOnly.ttf");
}

@font-face {
  font-family: "Alice";
  src: local("Alice-Regular") url("./assets/Fonts/Alice-Regular.ttf");
}
